{% extends 'registration/base.html' %}

{% block content %}
<h3>Hostdon 仮登録フォーム</h3>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"><a href="#">仮登録</a></li>
        <li class="breadcrumb-item active">メール送信</li>
        <li class="breadcrumb-item active">本登録</li>
    </ol>
</nav>
<h4 class="mt-3">仮登録フォーム</h4>
{% if messages %}
    {% for message in messages %}
        {{ message|raw }}
    {% endfor %}
{% endif %}
<form action="" method="post" name="form" id="payment-form">
    <div class="form-group">
        <label>登録するパスワード　使用可能文字: 半角英数記号(!@#$%^&*)8文字以上128文字以下</label>
        <div class="input-group">
            <input class="form-control" name="password" placeholder="password" size="50" type="password"
                   required>
            <input type="hidden" name="token" value="{{token}}>">
        </div>
        <br>
        <label for="card-element">
            登録するクレジットカード・デビットカード(Visa、Mastercard、American Express、Discover、Diners Club、JCB)
        </label>
        <div id="card-element">
            <div class="field mb-1">
                <div id="card-number"></div>
            </div>
            <div class="field mb-1">
                <div id="card-expiry"></div>
            </div>
            <div class="field mb-1">
                <div id="card-cvc"></div>
            </div>
        </div>
        <div id="card-errors" class="alert-danger" role="alert"></div>
        <p>
            <a href="policy.html">プライバシーポリシー</a>と<a href="tos.html">利用規約</a>をご確認下さい。クレジットカード・デビットカードの情報は決済代行会社であるStripeが保持します。
        </p>
        <button class="btn btn-primary">登録する</button>
    </div>
</form>
{% endblock %}