{% extends 'manage/base.html' %}

{% block content %}
<div class="container">
    <div class="container-tight py-6">
        <div class="text-center mb-4">
            <a href="."><img src="" alt="" height="36"></a>
        </div>
        <form class="card card-md" action="" method="post">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">アカウントにログイン</h2>
                {% if messages %}
                {% for message in messages %}
                {{ message|raw }}
                {% endfor %}
                {% endif %}
                <div class="mb-3">
                    <label for="email" class="form-label">メールアドレス</label>
                    <input type="email" class="form-control" name="email" id="email">
                </div>
                <div class="mb-2">
                    <label for="password" class="form-label">
                        パスワード
                        <span class="form-label-description">
                  <a href="">パスワードリセット</a>
                </span>
                    </label>
                    <div class="input-group input-group-flat">
                        <input type="password" class="form-control" name="password" id="password">
                    </div>
                </div>
                <div class="form-footer">
                    <input type="hidden" name="token" value="{{ token }}">
                    <button type="submit" class="btn btn-primary w-100">ログイン</button>
                </div>
            </div>
        </form>
        <div class="text-center text-muted mt-3">
            まだアカウントを持っていない場合は <a href="" tabindex="-1">登録</a>
        </div>
    </div>
</div>
{% endblock %}